@media only screen and (min-width: 992px) and (max-width: 1199px)
,only screen and (min-device-width: 992px) and (max-device-width: 1199px)
{

	html{
		background-color: yellow;
		width:992px;
		height:100%;
		
	}


	}//end @computerBreakpoint : 992px;