@media only screen and (min-width: 1500px) and (max-width: 1699px) 
and (orientation: landscape) {

html{
		height:auto;
 		width:100%;
 		background-color:#ebebeb; 
 	}

.logfield {
	width: 105%;
} 	

.hr1 {
	width: 105%;
	border-top: 1px solid #00253a;
	margin-left: -1%;
	
}

.centerbtn {
	margin-left: 27%;
	margin-top: 4%;
}

.ui.grid > .row {
   padding-top: 2.7em;
  padding-bottom: 1rem;
}

.ui.vertical.menu {
    width: 18rem;
}



 	




}//endofwideScreenMonitor

